body {
			padding:0px;
			margin:0px;
			list-style:none;
		}
   
		#menu ul {
			position:absolute;
			top:20%;
			list-style-type:none;
			padding:0%;
			margin-left: 0%;
			float:left;
			width: 100%;
			background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			font:80% Tahoma;
			-webkit-border-radius:0px;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            color:white;

		}

		#menu ul li{display:inline;}

		#menu ul li a {
			background-color:#282828;
			color: #333;
			text-decoration: none;
			border-bottom:3px solid #282828;
			padding: 2px 29px;
			float:left;
			-webkit-border-radius:14px;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
             display: block;
             margin:01%
             
		}

		#menu ul li a:hover {
			background:url(../Imagens_Adm_Aluno/red_bt_a.gif) no-repeat center top;
			color: white;
			border-bottom:3px solid #FF6600;
		}
 
#menu li:hover ul, .menu li.over ul{display:block;}
#menu li ul li{

display:block;
width:0px;

}
        p.fonte{font-family:@Dotum;font-size:large; margin-left:65px;}
        #main {
    }

#conteudo
{
   background: -moz-linear-gradient(top, rgba(255,167,61,0.82) 0%, rgba(255,183,107,0.27) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,167,61,0.82)), color-stop(100%,rgba(255,183,107,0.27))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,167,61,0.82) 0%,rgba(255,183,107,0.27) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,167,61,0.82) 0%,rgba(255,183,107,0.27) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,167,61,0.82) 0%,rgba(255,183,107,0.27) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,167,61,0.82) 0%,rgba(255,183,107,0.27) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffa73d', endColorstr='#45ffb76b',GradientType=0 ); /* IE6-9 */
position:absolute;
top:28%;
width:100%;
height:78%;
}
#principal
{
    min-height:75%;
    border: 0px solid #DEDEDE;
    border-top: 0;
	padding:20px 0 20px 20px;
	overflow: auto;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	max-height:75%;
	max-width:92%;
	left:4%;
	top:3%;
	bottom:3%;
	position:relative;
	
}
#topoCliente
{
	width:100%;
	height:17%;
}
#logo
{
	position:absolute;
 	left:20%;
	top:0%;
}
#login
{
	position:absolute;
	top:4%;
	left:55%;
	font-size:20px;
}