#rodape
	{
		position:absolute;
		top:95%;
		width:100%;
		height:17%;
		background: black;
		color:#FF6600;
	}
#rodapei
	{
		color:#FF6600;
		position:absolute;
		top:10%;
		left:50%;
	}
#rodapej
	{
		color:#FF6600;
		position:absolute;
		top:10%;
		left:65%;
	}